div.modal.fade#modal-patchnotes-010(tabindex="-1", aria-labelledby="modal-patchnotes-010-label", aria-hidden="true")
    .modal-dialog.modal-dialog-centered
        .modal-content.bg-dark.text-light
            .modal-header
                h5.modal-title#modal-patchnotes-010-label Patchnotes 0.1.0
                button.btn-close.btn-close-white(type="button", data-bs-dismiss="modal", aria-label="Close")
            .modal-body
                p Here are the patch notes for version 0.1.0...
            .modal-footer
                button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Close