ul.nav.justify-content-center.border-bottom.pb-3.mb-3
  li
    a.px-2(href='#') Top of Page
  li
    a.px-2(href='https://discord.gg/EC3bpJEdet', target='_blank', rel='noopener noreferrer') Discord
  li
    a.px-2(href='/legal/compliance', rel='noopener noreferrer') Compliance
  li
    a.px-2(href='/legal/terms', rel='noopener noreferrer') ToS
  li
    a.px-2(href='mailto:support@skyblock-tools.com', target='_blank', rel='noopener noreferrer') Contact

p.text-center © 2025 - _.intothevoid._