extends ../../layout.pug

block content
  h1.text-center.mt-4 Sacks Checklist
  hr

  .row.mt-3
    .col
      h3 List of all Sacks

  .row.mt-3
    .col
      table.table.table-dark
        thead
          tr
            th(scope="col").text-center #
            th(scope="col") Name
            th(scope="col").text-center Unsized
            th(scope="col").text-center Small
            th(scope="col").text-center Medium
            th(scope="col").text-center Large
            th(scope="col").text-center Extra Large
            th(scope="col").text-center Enchanted
        tbody#table-container 

block scripts
  script(src="/javascripts/util/database.js")
  script(src="/javascripts/lists/sacks.js")