.container {
    background-color: rgb(51, 51, 51, 0.6);
    padding-bottom: 1rem;
    color: rgb(255, 255, 255);
    backdrop-filter: url(common-filters.svg#filter) blur(8px);
    margin-top: 2rem;
    padding-top: 2rem;
}

body {
    background-image: url('./img/the_barn.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

footer {
    background-color: rgb(33, 37, 41);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}