.container {
    background-color: rgb(51, 51, 51);
    padding-bottom: 1rem;
    color: rgb(255, 255, 255);
}

body {
    background-color: black;
}

footer {
    background-color: rgb(33, 37, 41);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}