extends ../layout.pug

block content
  h1.text-center Skyblock Tools
  hr
  h2.text-center Welcome
  .row
    .col-6
      b Currently this site does not have a non self-signed certificate. Your browser may warn you, I am working to 
        | resolve this. Thank you for your patience.
      p Welcome to Skyblock Tools. This is a website written by, so far, one person. It started out as just a 
        | way for me to keep track of what I have crafted already (e.g. sacks) and what I'm still missing.
      p If you have any feature requests or ideas, let me know in the Discord, which you can find at the 
        | bottom of every page (Well actually it's a ToDo atm).
      p My goal is to have every important tool united under one roof, with calculators, checklists, 
        | progression and many more. Of course to reach that goal, I need a lot of help and third party 
        | resources, which will be updated in the Reference section.
      p Special Thanks to everyone helping out with this project. Here are some infos regarding the server 
        | costs: Currently domain, webhosting and certificates cost me around 80 Euros a year.
      b We are in no way, shape or form affiliated with Hypixel. This is a purely fan made project.
    .col-3
      h4.text-center References
      p All of these open in a new tab.
      ul.list-group
        a.list-group-item.list-group-item-dark(href="https://wiki.hypixel.net/Main_Page" target="_blank" rel="noopener noreferrer") Hypixel Wiki
        a.list-group-item.list-group-item-dark(href="https://docs.google.com/spreadsheets/d/1ZY-nG60U7amPfqEcKnP5qkcK2JKrzpTyX8NkpPlYwZU/htmlview#" target="_blank" rel="noopener noreferrer") Skyblock Things by Georik
        a.list-group-item.list-group-item-dark(href="https://sky.shiiyu.moe" target="_blank" rel="noopener noreferrer") SkyCrypt
        a.list-group-item.list-group-item-dark(href="https://status.hypixel.net" target="_blank" rel="noopener noreferrer") Hypixel Server Status
        a.list-group-item.list-group-item-dark(href="https://sky.coflnet.com/api/index.html", target="_blank" rel="noopener noreferrer") Cofl Skyblock API
        a.list-group-item.list-group-item-dark(href="https://api.hypixel.net/#tag/SkyBlock/paths/~1v2~1resources~1skyblock~1collections/get", target="_blank" rel="noopener noreferrer") Hypixel Public API
    .col-3
      h4.text-center Collaborators
      p Looking for motivated collaborators.
      ul.list-group
        li.list-group-item.list-group-item-dark ★ _.intothevoid._
  if latestPatchnotes.length >= 1
    .row.mt-5
      h2.text-center Changelog
      each patch of latestPatchnotes
        .col-3
          .card.border-dark.text-bg-dark
            h5.card-header Update #{patch.version} - #{patch.title}
            .card-body
              if patch.items.length
                p.card-text #{patch.subtitle}
            button.btn.btn-secondary(type="button" data-bs-toggle="modal" data-bs-target=`#modal-patchnotes-${patch.version}`) Full Patchnotes
  hr
block modals
  // Modals
  each patch of latestPatchnotes
    include ../components/patchNoteModal.pug

block scripts
  script(src="/javascripts/index.js")